nav {
    height: 300px;
}

nav .brand-logo {
    max-height: 300px;
    border-radius: 50%;
    margin-bottom: 15px;
}

@media (max-width: 425px) {
    nav .brand-logo {
        max-height: 200px;
    }
    nav {
        height: 200px;
    }
}