@font-face {
  font-family: Nadilla;
  src: 
      local("Nadilla"),
      url("/assets/fonts/Nadilla.otf") format("truetype")
}

:root {
  --primary-font: Nadilla, sans-serif;
  --secondary-font: Nadilla, sans-serif;
  --primary-color: #cf2129;
  --accent-color: #e03f25;
  --primary-color-transparent: #dd9a2a40;
  --secondary-color: var(--black);
  --white: #ffffff;
  --black: #000000;--gradient: linear-gradient(180deg,var(--primary-color) 51%,var(--accent-color));
  --black-transparent: rgba(0,0,0,0.81);
  --gradient-transparent: linear-gradient(180deg,var(--black-transparent) 51%,var(--black-transparent));
  --shadow: 1px 1px 2px #000;
}

body {
  font-family: var(--primary-font);
  background-image: var(--gradient-transparent), url(/assets/img/hero.jpg);
  padding-bottom: 100px;
  background-repeat: inherit;
  background-size: contain;
}

h1, h2, h3, h4 {
  font-family: var(--secondary-font);
  /* text-shadow: rgba(0,0,0,0.67) 2px 2px 4px; */
}

#hero {
  color: #fff;
  text-align: center;
}

#hero h1 {
  font-size: 2.5rem;
}

#hero h4 {
  font-size: 1.5rem;
}

#hero img.brain {
  display: block;
  margin: 0 auto;
  max-height: 250px;
}

.btn {
  border-radius: 15px;
  padding: 6px 30px;
  transition: 0.5s;
  background-size: 200% auto;
}

.btn:hover {
  background-position: right center;
  /* color: initial; */
}

.btn-primary {
  background-color: var(--secondary-color);
  background-image: linear-gradient(to right, var(--secondary-color) 14%, var(--accent-color) 51%, var(--primary-color) 100%);
}

.primary-text {
  color: var(--primary-color);
  text-shadow: var(--shadow);
}

.secondary-text {
  color: var(--secondary-color);
}

.white-text {
    color: var(--white);
}

.btn-secondary {
  background-color: var(--primary-color);
  background-image: linear-gradient(to right, var(--primary-color) 14%, var(--accent-color) 51%, var(--primary-color) 100%);
  color: var(--white);
  border-color: var(--white);
}

.animated-page-wrapper {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: var(--primary-color);
  outline: 0;
  box-shadow: 0 0 0 0.2rem var(--primary-color-transparent);
}

.animated-page-wrapper {
  width: 100%;
  height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-color);
  padding: 5px 0;
  z-index: 997;
}

.footer p {
  margin: 0;
}

.footer img {
  height: 60px;
}

.img-center {
  margin: 0 auto;
  display: block;
}

img.result {
  box-shadow: var(--shadow);
  margin-bottom: 15px;
}

.social {
  color: #fff;
}

.social.facebook {
  background-color: #3b5998;
  color: #fff;
}

.social.twitter {
  background-color: #38A1F3;
  color: #fff;
}

.social.whatsapp {
  background-color: #25D366;
  color: #fff;
}

.btn-floating {
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 5;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  border-radius: 50%;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  cursor: pointer;
  vertical-align: middle;
}

@media (min-width: 768px) {
  .valign {
    display: flex;
    align-items: center;
  }
  #hero {
    text-align: left;
  }
  #hero img {
    max-height: 500px;
  }
  #hero img.brain {
    display: block;
    margin: 0 auto;
    max-height: 500px;
  }
  .card {
    font-size: 15px;
  }
  .card img {
    max-height: 50px !important;
  }
}